{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/table.css">
    <link rel="stylesheet" type="text/css" href="../static/css/checkbox.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <style>
         .scrollable-div {
            overflow-x: auto; /* Enable horizontal scrolling */
            white-space: nowrap; /* Prevent line breaks */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content_header">
        <div class="header">
            <div class="messages">
                <h2>Welcome, {{ user }}!</h2>
            </div>
            <div class="logout">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>

    <div class="content">
        <!-- File Input / Upload -->
        <div class="upload-section">
            <h3>Upload your Excel file here</h3>
            <form id="uploadForm" action="{{ url_for('app_home') }}" method="POST" enctype="multipart/form-data" >
                <input id ="file_input" type="file" name="file-to-save" accept=".xlsx, .xls" />
                <button class="upload-button" id="uploadButton" disabled>Upload</button>
            </form>
            &nbsp;
            <div>Download your uploads:</div>
            <ul>
                {% for file in files %}
                    <li>
                        <div>
                            <a href="{{ file.bucket_url }}" download>{{ file.filename }}</a>
                            <form action="{{ url_for('delete_file', file_id=file.id) }}" method="post" style="display:inline;">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Metric Input -->
        <div class="metric-input-section">
            <h3>Add general metrics for your survey</h3 >
            <div class="metric-input">
                <input type="text" id="metricNameInput" placeholder="Metric Name">
                <button id="addMetricButton">Add Metric</button>
            </div>
            <div id="metricList"></div>
        </div>

        <div class="table-container">
            <table id="dataTable">
                <thead id="dataHeaders">
                    <!-- Header row will be dynamically generated -->
                </thead>
                <thead id="metricHeaders">
                    <!-- Metric headers will dynamically generate here -->
                </thead>
                <thead id="actionHeaders">
                    <!-- Action headers will dynamically generate here -->
                </thead>
                <tbody>
                    <!-- Table body will be dynamically generated -->
                </tbody>
            </table>
        </div>

        <div id="metricsContainer"></div>

        <!-- Chart Rendering -->
        <div class="chart-section">
            <h3>Chart Rendering</h3>

            <div id="metricsCheckboxList">
                <!-- Checkbox for metrics available for plotting will be rendered here -->
            </div>

            <!-- Dropdowns chart type -->
            <div class="dropdowns">
                <select id="chartTypeDropdown">
                    <option value="bar" selected>Bar Chart</option>
                    <option value="line">Line Chart</option>
                    <option value="pie">Pie Chart</option>
                </select>
            </div>

            <button id="renderChartButton" onclick = renderChart()>Render Chart</button>

            <!-- Render ChartJS -->
            <div id="container" class="chart-container scrollable-div" style="height: 400px;">
                <div id="chartContainer" style="display:flex; height: 100%;"></div>
                <!-- <div id="newDataSummary" class="new-data-summary"></div> -->
            </div>
        </div>
    </div>

    <script>
        let globalTableData;
    </script>

    <!-- Custom JavaScripts -->
    <script src="../static/js/enable_upload.js"></script>
    <script src="../static/js/table.js"></script>
    <script src="../static/js/metrics.js"></script>
    <script src="../static/js/chartjs.js"></script>
    <script>
        console.log(metrics);
    </script>
{% endblock %}
