{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
    <!-- File Input / Upload -->
        <p>
            <text>Upload your excel file here</text>
            <form id="uploadForm">
                <input type="file" name="file" accept=".xlsx, .xls" />
            </form>
        </p>
        <button id="uploadButton">Upload File</button>
    <!--  -->

    <!-- Metric Input -->
        <p>
            <div>
                After you've chosen your file, add some general metrics that your survey is measuring
                <div style="padding-top: 30px;">
                    <input type="text" id="metricNameInput" placeholder="Metric Name">
                    <button id="addMetricButton">Add Metric</button>
                </div>
                <div id="metricList"></div>
            </div>
        </p>
    <!--  -->

    <!-- Display Data -->
        <button id="displayButton">Display Data</button>

        <div id="dataDisplay"></div>
        <button id="processButton">Process Data</button>
        <!-- Original Data Summary Div -->
        <div id="dataSummary" style="margin-left: 20px;"></div>

        <!-- Add dropdowns for data and chart type selection -->

        <div id="metricsCheckboxList">
            <!-- Checkboxes will be added here dynamically -->
        </div>

        <select id="chartTypeDropdown">`
            <option value="bar">Bar Chart</option>
            <option value="line">Line Chart</option>
            <option value="pie">Pie Chart</option>
            <!-- Add more chart types as needed -->
        </select>
    <!--  -->

    <!-- Render ChartJS-->
        <button id="renderChartButton">Render Chart</button>
        <!--

        -->
        <!-- Container div for chart and new data summary -->
        <div id="container">
            <!-- Chart canvas div -->
            <div id="chartContainer">
                <!-- Canvas for Chart.js -->
                <canvas id="myChart" width="550" height="550"></canvas>
            </div>
            <!-- New Data Summary Div (initially hidden) -->
            <div id="newDataSummary" style="display: none;"></div>
        </div>
    <!--  -->


    <!-- Functionality for Metric -->
        <script src="{{ url_for('static', filename='js/metrics.js') }}"></script>
    <!--  -->


{% endblock %}