{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block body %}
    <div class="login-container">
        <div>
            <img class="logo" src="../static/img/logo.png">
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div style = "display: flex; justify-content: center; align-items: center; color: red;">
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="#" method="POST">
            <p> Username: <input type="text" name="username"/></p>
            <p> Password: <input type="password" name="password"/></p>
            <p><input type="submit" value="Login"/></p>
        </form>

        <a href="{{ url_for('register') }}">Register for a new account</a>

    </div>
{% endblock %}
