/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages {
    margin: 0;
}

.logout a {
    text-decoration: none;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.logout a:hover {
    background-color: #0056b3;
}

/* Head content styles */
.content_header {
    padding: 10px 20px;
}

/* Content styles */
.content {
    padding: 0px 20px;
}

.upload-section h2,
.metric-input-section h2 {
    margin-bottom: 10px;
}

.upload-section,
.metric-input-section {
    margin-bottom: 30px;
}

.metric-input {
    margin-bottom: 20px;
}

.metric-input input[type="text"] {
    width: calc(100% - 120px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.metric-input button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.metric-input button:hover {
    background-color: #0056b3;
}

.action-buttons button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #218838;
}

.chart-section button {
    padding: 8px 15px;
    background-color: #ffc107;
    color: #212529;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.chart-section button:hover {
    background-color: #e0a800;
}

.dropdowns {
    margin-top: 20px;
}

.dropdowns select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Chart section styles */
.chart-container {
    text-align: center;
    margin-top: 20px;
}

#chartContainer {
    margin-bottom: 20px;
}

.new-data-summary {
    margin-top: 20px;
}
